<!DOCTYPE html>
{% load static %}
{% load carton_tags %}
{% get_cart as cart %}
<html>
<head>
	<title>Prakash Industries</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'ecommerce/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ecommerce/css/product.css' %}">

<style type="text/css">
  .carousel-control1 {
    position: absolute;
    top: 25%;
    bottom: -8px;
    left: -30px;
    width: 0%;
    font-size: 65px;
    color:black;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}
</style>
	<script src="js/wow.js"></script>
<script type="text/javascript">
new WOW().init();
</script>
</head>
<body>

<input type="checkbox" id="navcheck" role="button" title="menu">
<label for="navcheck" aria-hidden="true" title="menu">
	<span class="burger">
		<span class="bar">
			<span class="visuallyhidden">Menu</span>
		</span>
	</span>
</label>
<nav id="menu">
	<a href="index.html">Home</a>
	<a href="about.html">About Us</a>
	<a href="{% url 'ecommerce:category' %}">Feature Product</a>
	<a href="shop.html">Shop</a>
	<a href="contact.html">Contact Us</a>

    {% if user.is_authenticated %}
        <a href="{% url 'ecommerce:logout' %}">Logout</a>
        <a href="{% url 'ecommerce:shopping-cart-show' %}">Show Cart</a>
        {% else %}
         <a href="{% url 'ecommerce:login' %}">Sign In</a>
    <a href="{% url 'ecommerce:register'%}">Sign Up</a>
    {% endif %}


</nav>
<section id="banner-productdetail">
	<div class="container-fluid" class="no-padding">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="{% static 'ecommerce/image/logo.png' %}" class="img-fluid logo" style="width: 30%; margin: 0 auto;">
			<h1 class="text-center banner-heading">
				Product Details
			</h1>
		</div>
	</div>
</section>
<section id="individual-product-des">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-md-6 col-lg-6 col-xs-12" style="padding-top: 5%; ">
          <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
            <div class='carousel-outer'>
        <!-- me art lab slider -->
                <div class='carousel-inner '>
                    {% for images in product.product.all %}
                    <div class='item {% if forloop.counter0 is 0 %}active{% endif %}'>
                        <img src='{{images.image.url }}' alt='' id="zoom_05"  data-zoom-image="image/officep1.jpg" class="img-responsive" style="height: 400px; width: 800px;"/>
                    </div>
                    {% endfor %}


            <script>
              $("#zoom_05").elevateZoom({ zoomType    : "inner", cursor: "crosshair" });
            </script>
        </div>

        <!-- sag sol -->
        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
            <span class='glyphicon glyphicon-chevron-left'></span>
        </a>
        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
            <span class='glyphicon glyphicon-chevron-right'></span>
        </a>
    </div>

    <!-- thumb -->

    <ol class='carousel-indicators mCustomScrollbar meartlab'>
        {% for images in product.product.all %}
        <li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}' {% if forloop.counter0 is 0 %}class='active'{% endif %}>
            <img src="{{ images.image.url }}" alt='' class="img-responsive" style="height: 90px; width: 100px"/></li>

         {% endfor %}
    </ol>
          </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-12" style="padding-top: 5%; padding-left: 3%; color: #3b0707; padding-right: 8%;">
            <h3 class="text-left" style="text-transform: uppercase; color:#721010; font-size: 32px;">
              {{ product.product_name }}
            </h3>
            <p class="text-left review">
{#            TODO add for loop#}
                {% for star in product.get_product_rating|floatformat:"0" %}
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color: brown;"></span>
            {% endfor %}
            <span style="color: gray;">{{ product.get_product_total_rating.1 }} reviews </span>
          </p>
          <h3 class="text-left">
            <i class="fa fa-inr" aria-hidden="true"></i> {{ product.product_price }} /-
          </h3>
          {% if product.product_quantity > 0 %}
              {{ product.product_quantity }}

              {% else %}
              Not Available
          {% endif %}
          <p class="text-left review" style="color:gray;">
            {#              TODO add short description to model#}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p class="text-left" style="padding-top: 3%;">
           <a href="{% url 'ecommerce:shopping-cart-add' pk=product.id%}"><span class="cart-des">add cart</span></a>

            <a href="{% url 'ecommerce:direct_order' pk=product.id%}"><span class="cart-ord">order now</span></a>
            <span class=" glyphicon glyphicon-heart wish" aria-hidden="true"></span>
          </p>

            <div class="panel with-nav-tabs panel-success">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1success" data-toggle="tab">DESCRIPTION</a></li>
                            <li><a href="#tab2success" data-toggle="tab">INFORMATION</a></li>
                            <li><a href="#tab3success" data-toggle="tab">REVIEWS</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1success">{{ product.product_description }}</div>
                        <div class="tab-pane fade" id="tab2success">
                            For Place:
                            {% for category in product.product_category.all %}

                            {{ category.category_name }}{% if forloop.last %}

                                {% else %}
                                ,
                                {% endif %}
                            {% endfor %}
                        <br>
                            Category: {{ product.sub_category.category_name }}
                        </div>
                        <div class="tab-pane fade" id="tab3success">
                            {% if user.is_authenticated %}
                                {% if message %}
                                    {{ message }}
                                    {% endif %}
                         <div class="input-group">
                         <form method="post" id="review_form" action="{% url 'ecommerce:product_review' pk=product.id%}">
                             {% csrf_token %}
                            <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                            <input id="msg" type="text" class="form-control" name="msg" placeholder="Write your review here..">
                             <input type="radio" value="0" id="rate" name="rating" style="padding-left: 2px;">0
                             <input type="radio" value="1" id="rate" name="rating" style="padding-left: 2px;">1
                             <input type="radio" value="2" id="rate" name="rating" style="padding-left: 2px;">2
                             <input type="radio" value="3" id="rate" name="rating" style="padding-left: 2px;">3
                             <input type="radio" value="4" id="rate" name="rating" style="padding-left: 2px;">4
                             <input type="radio" value="5" id="rate" name="rating" style="padding-left: 2px;">5
                             <input type="Submit" value="Reviewed">
                             {{ form }}
                         </form>
                          </div>
                                {% else %}
                                <p class="lead">To review you must be logged in <a class="btn btn-success" href="{% url 'ecommerce:login' %}">Login</a> </p>
                               <hr>
                            {% endif %}
                        <br>
                        {% for reviews in product.product_reviewed.all %}
                          <div class="content-review">
                          <p class="text-left" style="display: flex;">
                            <span style="padding-left: 5px;">{{ reviews.user.first_name }} {{ reviews.user.last_name }} &nbsp;&nbsp;&nbsp; {% if reviews.rating %}{{ reviews.rating }}<span class="glyphicon glyphicon-star" aria-hidden="true" style="color: brown;"></span>{% endif %}
                              <br>
                              <span style="color: gray; font-size: 12px;">
                                {{ reviews.review_date }}<br>
                              </span>
                            </span>
                          </p>


                          <p class="text-left">

                              {{ reviews.review }}
                          </p>
                          <hr>
                          </div>
                        </div>
                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  <section id="sim-product">
    <div class="container-fluid">
      <div class='row'>
        <div class="col-md-12">
          <h2 class="text-center" style="color: brown;">
            Similiar Products
          </h2>
        </div>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner" style="background-color: #fff !important;">
            {% for product in product.get_similar_product.all %}
                {% if forloop.counter0|divisibleby:3 %}
          <div class="item catslider  {% if forloop.counter0 is 0 %}active{% endif %}">
            <div class="row">
        {% endif %}
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="{{product.product.all.0.image.url }}" class="img-fluid" style="height: 200px; width: 400px;"></a>
              {{ product.product_name }}
              </div>

{#              <div class="col-md-4">#}
{#                <a class="thumbnail" href="#"><img alt="" class="img-fluid" src="image/slider1.jpg"></a>#}
{#              </div>#}
{#              <div class="col-md-4">#}
{#                <a class="thumbnail" href="#"><img alt="" src="image/slider1.jpg" class="img-fluid"></a>#}
{#              </div>#}
                {% if forloop.counter0 is not 0 %}
        {% if forloop.counter0|divisibleby:2 or forloop.last%}
            </div>
          </div>
                {% endif %}
                {% endif %}
            {% endfor %}
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control1"><</a>
        <a data-slide="next" href="#media" class="right carousel-control1">></a>
      </div>
    </div>
  </div>
  </section>
</section>
  <section id="Query">
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-lg-12 col-md-12 col-xs-12">
  				<h1 class="text-center about-heading">
					<span style="color: #fff;">Leave Us A Message!</span>
					<hr>
				</h1>
  			</div>
  			<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xs-12">
  				<div class="form-area">
        <form role="form">
        <br style="clear:both">

    				<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
					</div>
                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>

                    </div>

        <button type="button" id="submit" name="submit" class="btn btn-primary querybutton">Submit Form</button>
        </form>
    </div>
  			</div>
  		</div>
  	</div>
  </section>
  <section id="footer">
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-md-12 col-lg-12 ">
  				<h4 class="text-center" style="color: brown; font-size: 28px;">Prakash Industries</h4>
  				<p class="text-center" style="color: brown;">
  				<img src="image/facebook.png">
  				<img src="image/twitter.png">
  				<img src="image/instagram.png">
  			</p>
  			<p class="text-center" style="color:brown;">
  				IIIT Vadodara@2017. Privacy Policy
  			</p>
  			</div>
  		</div>
  	</div>
  </section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{% static 'ecommerce/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'ecommerce/js/jquer.js' %}"></script>
<script src="{% static 'ecommerce/js/jquery.min.js' %}"></script>
 <script src="{% static 'ecommerce/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>