<!DOCTYPE html>
{% load static %}
{% load  %}
<html>
<head>
	<title>Prakash Industries</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'ecommerce/css/main.css' %}">
	<script src="{% static 'ecommerce/js/wow.js' %}"></script>
<script type="text/javascript">
new WOW().init();
</script>
</head>
<body>

<input type="checkbox" id="navcheck" role="button" title="menu">
<label for="navcheck" aria-hidden="true" title="menu">
	<span class="burger">
		<span class="bar">
			<span class="visuallyhidden">Menu</span>
		</span>
	</span>
</label>
<nav id="menu">
    {% if user.is_authenticated %}
        <a style=" font-size: 25px;">Welcome {{ user.first_name }} {{ user.last_name }}</a>
        {% else %}
        <a>Welcome Guest</a>
    {% endif %}
    <hr>
	<a href="{% url 'ecommerce:home' %}">Home</a>
	<a href="{% url 'ecommerce:category' %}">Feature Product</a>
	<a href="#">Contact Us</a>
    <a href="{% url 'ecommerce:get-quoted' %}">Place Quotation</a>
    {% if user.is_authenticated %}
        <a href="{% url 'ecommerce:my_order' %}">My Orders</a>
        <a href="{% url 'ecommerce:shopping-cart-show' %}">Show Cart</a>
        <a href="{% url 'ecommerce:logout' %}">Logout</a>

        {% else %}
         <a href="{% url 'ecommerce:login' %}">Sign In</a>
    <a href="{% url 'ecommerce:register'%}">Sign Up</a>

    {% endif %}


</nav>



<section id="banner-office">
	<div class="container-fluid" class="no-padding">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="{% static 'ecommerce/image/logo.png' %}" class="img-fluid logo" style="width: 30%; margin: 0 auto;">
			<h1 class="text-center banner-heading">
				{{ category.0.category_name}}
			</h1>
		</div>
	</div>
</section>
<section class="product-display" id="1">
  <div class="container">
    <div class="row">
      {% for product in product_list%}
        {% if forloop.counter0|divisibleby:3%}
          <div class="col-md-12 col-lg-12 col-xs-12">
          {% endif %}
            <a href="{{ product.get_absolute_url }}"> <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6 product-detail">
          <div class="product-img">
            <img src="{{ product.product.all.0.image.url }}" class="img-responsive" style="width: 400px; height: 200px;">
          </div>
          <div class="product-des" style="color: brown;">
            <h3 style="font-size: 28px;">{{ product.product_name }}</h3>
            <p class="text-left review">

                {% if product.get_product_rating  %}
             Rating : {{ product.get_product_rating|floatformat:"0"}}<span class="glyphicon glyphicon-star" aria-hidden="true" style="color: brown;"></span> <span style="color: gray;">({{    product.get_product_total_rating.1 }} reviews)</span>
                    {% else %}
                     No Review
            {% endif %}


          </p>
          <p class="text-left" style="color: #b93737; font-size: 20px;">
            Rs. {{ product.product_price }}
          </p>
          </div>
        </div>
            </a>

    {% if forloop.counter0 is not 0 %}
    {% if forloop.counter0|divisibleby:2 or forloop.last%}
        </div>
          {% endif %}
          {% endif %}
     {% endfor %}
    </div>
  </div>
</section>

<section>

  <div class="container">
<div class="bs-example" style="float: right;">
    {% if is_paginated %}
    <ul class="pagination mypage">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number is i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
    </ul>
{% endif %}
</div>
</div>

</section>

  <section id="Query">
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-lg-12 col-md-12 col-xs-12">
  				<h1 class="text-center about-heading">
					<span style="color: #fff;">Leave Us A Message!</span>
					<hr>
				</h1>
  			</div>
  			<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xs-12">
  				<div class="form-area">
        <form role="form">
        <br style="clear:both">

    				<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
					</div>
                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>

                    </div>

        <button type="button" id="submit" name="submit" class="btn btn-primary querybutton">Submit Form</button>
        </form>
    </div>
  			</div>
  		</div>
  	</div>
  </section>
  <section id="footer">
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-md-12 col-lg-12 ">
  				<h4 class="text-center" style="color: brown;">Prakash Industries</h4>
  				<p class="text-center" style="color: brown;">
  				<img src="{% static 'ecommerce/image/facebook.png' %}">
  				<img src="{% static 'ecommerce/image/twitter.png' %}">
  				<img src="{% static 'ecommerce/image/instagram.png' %}">
  			</p>
  			<p class="text-center" style="color:brown;">
  				IIIT Vadodara@2017. Privacy Policy
  			</p>
  			</div>
  		</div>
  	</div>
  </section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{% static 'ecommerce/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'ecommerce/js/jquer.js' %}"></script>
<script src="{% static 'ecommerce/js/jquery.min.js' %}"></script>
 <script src="{% static 'ecommerce/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>